<%= link_to gravatar_for(follow_user, size: 50), follow_user %>
<h3><%= follow_user.name %></h3>
<span><%= link_to "view my profile", follow_user %></span>
<span><%= pluralize(follow_user.microposts.count, "micropost") %></span>
